
.dark {
  --md-sys-color-primary: #FF385C; 
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #2B2B2B;
  --md-sys-color-on-primary-container: #FFFFFF;

  --md-sys-color-secondary: #2B2B2B; 
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #1A1A1A;
  --md-sys-color-on-secondary-container: #F5F5F5;

  --md-sys-color-tertiary: #FF385C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #2B2B2B;
  --md-sys-color-on-tertiary-container: #FFFFFF;

  --md-sys-color-background: #121212;
  --md-sys-color-on-background: #F2F2F2;
  --md-sys-color-surface: #181818;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-container: #1E1E1E;
  --md-sys-color-surface-container-high: #232323;
  --md-sys-color-outline: #333333;
}
