.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 204);
  --md-sys-color-surface-tint: rgb(255 180 171);
  --md-sys-color-on-primary: rgb(72 19 15);
  --md-sys-color-primary-container: rgb(204 123 114);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(225 225 138);
  --md-sys-color-on-secondary: rgb(39 39 0);
  --md-sys-color-secondary-container: rgb(148 149 70);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(247 217 160);
  --md-sys-color-on-tertiary: rgb(51 35 0);
  --md-sys-color-tertiary-container: rgb(167 141 91);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 222 220);
  --md-sys-color-surface: rgb(26 17 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 65);
  --md-sys-color-on-surface-variant: rgb(238 215 212);
  --md-sys-color-outline: rgb(194 173 170);
  --md-sys-color-outline-variant: rgb(160 140 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 222 220);
  --md-sys-color-inverse-on-surface: rgb(50 40 38);
  --md-sys-color-inverse-primary: rgb(116 53 46);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(44 1 2);
  --md-sys-color-primary-fixed-dim: rgb(255 180 171);
  --md-sys-color-on-primary-fixed-variant: rgb(94 35 30);
  --md-sys-color-secondary-fixed: rgb(231 231 143);
  --md-sys-color-on-secondary-fixed: rgb(18 18 0);
  --md-sys-color-secondary-fixed-dim: rgb(203 203 118);
  --md-sys-color-on-secondary-fixed-variant: rgb(56 56 0);
  --md-sys-color-tertiary-fixed: rgb(253 223 166);
  --md-sys-color-on-tertiary-fixed: rgb(25 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(224 195 140);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 51 9);
  --md-sys-color-surface-dim: rgb(26 17 16);
  --md-sys-color-surface-bright: rgb(77 66 64);
  --md-sys-color-surface-container-lowest: rgb(13 6 5);
  --md-sys-color-surface-container-low: rgb(37 27 26);
  --md-sys-color-surface-container: rgb(48 37 36);
  --md-sys-color-surface-container-high: rgb(59 48 47);
  --md-sys-color-surface-container-highest: rgb(70 59 58);
  --md-extended-color-custom-color1-color: rgb(255 210 205);
  --md-extended-color-custom-color1-on-color: rgb(72 19 16);
  --md-extended-color-custom-color1-color-container: rgb(204 123 114);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
}
