
.light {
  --md-sys-color-primary: #FF385C;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFD1DA;
  --md-sys-color-on-primary-container: #000000;

  --md-sys-color-secondary: #F5F5F5;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #E0E0E0;
  --md-sys-color-on-secondary-container: #000000;

  --md-sys-color-tertiary: #FF385C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD1DA;
  --md-sys-color-on-tertiary-container: #000000;

  --md-sys-color-background: #FFFFFF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FFFFFF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-container: #F5F5F5;
  --md-sys-color-surface-container-high: #FFFFFF;
  --md-sys-color-outline: #CCCCCC;
}
